www.cliclavoro.gov.it/Aziende/Adempimenti/Flusso SAP/Sap.AllegatiDecreto/ModalitЕ Tecniche/Rev.006 - SAP - Allegato B - Formato trasmissione SchedaAP.xsd

<!-- Versione XSD: Maggio 2015 Rev006 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="CodiceFiscale">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IdentificativoSap">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}[0-9]{8}[A-Z]{1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CodiceEnteTit">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1}[0-9]{3}[A-Z]{1}[0-9]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa250Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa250">
    <xs:restriction base="xs:string">
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa50Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa1Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa1">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa7Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa4Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa11Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa4">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa3Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa2Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa8Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa5Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa5ObblFull">
    <xs:restriction base="xs:string">
      <xs:length value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa100Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa300">
    <xs:restriction base="xs:string">
      <xs:maxLength value="300" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa1000">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa10Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa12Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa50">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa15Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa80Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa2_Obbl">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Stringa2">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numerico1Obbl">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numerico3Obbl">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numerico4">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
      <xs:pattern value="\d*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Decimale2Obbl">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
      <xs:pattern value="\d{1}.\d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Si-No">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SI" />
      <xs:enumeration value="NO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="durata">
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="corsostudio" type="Stringa8Obbl" />
  <xs:element name="descrizionecorsostudio" type="Stringa100" />
  <xs:element name="codcomunefrequenza" type="Stringa4" />
  <xs:element name="riconosciutoin" type="Stringa2Obbl" />
  <xs:element name="votazione" type="Stringa3" />
  <xs:element name="annofrequenza" type="Numerico4" />
  <xs:element name="annofrequentato" type="Numerico4" />
  <xs:element name="annotermine" type="Numerico4" />
  <xs:element name="cap" type="Stringa5ObblFull" />
  <xs:element name="codicefiscale" type="CodiceFiscale" />
  <xs:element name="identificativosap" type="IdentificativoSap" />
  <xs:element name="codiceentetit" type="CodiceEnteTit" />
  <xs:element name="tipovariazione" type="Stringa2_Obbl" />
  <!--<xs:element name="datainvio" type="xs:date"/>-->
  <xs:element name="dataultimoagg" type="xs:date" />
  <xs:element name="datadinascita" type="xs:date" />
  <xs:element name="cognome" type="Stringa50Obbl" />
  <xs:element name="compiti" type="Stringa250" />
  <xs:element name="assunzioneLegge68" type="Si-No" />
  <xs:element name="tipo_attivita" type="Stringa3Obbl" />
  <xs:element name="titolo_denominazione" type="Stringa100" />
  <xs:element name="data" type="xs:date" />
  <xs:element name="data_fine" type="xs:date" />
  <xs:element name="durata" type="xs:int" />
  <xs:element name="tipologia_durata" type="Stringa1" />
  <xs:element name="descrizione" type="Stringa250Obbl" />
  <xs:element name="titolo_progetto" type="Stringa2Obbl" />
  <xs:element name="codice_ente_promotore" type="Stringa11Obbl" />
  <xs:element name="data_proposta" type="xs:date" />
  <xs:element name="conoscenzainformatica">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codconoscenzainformatica" minOccurs="0" />
        <xs:element ref="codgrado" minOccurs="1" />
        <xs:element ref="specificheinformatica" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conoscenzeinformatiche_lst">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="conoscenzainformatica" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altreinformazioni_lst">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="altreinformazioni" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datafine" type="xs:date" />
  <xs:element name="datainizio" type="xs:date" />
  <xs:element name="datanascita" type="xs:date" />
  <xs:element name="statoinanagrafe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codstatooccupazionale" minOccurs="0" />
        <xs:element ref="codstatus" minOccurs="0" />
        <xs:element ref="categoria297" minOccurs="0" />
        <xs:element ref="anzianita" minOccurs="0" />
        <xs:element ref="disponibilita" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="periodidisoccupazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dataingresso" minOccurs="0" />
        <xs:element ref="tipoingresso" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datipersonali">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codicefiscale" minOccurs="1" />
        <xs:element ref="cognome" minOccurs="1" />
        <xs:element ref="nome" minOccurs="1" />
        <xs:element ref="sesso" minOccurs="1" />
        <xs:element ref="datanascita" minOccurs="1" />
        <xs:element ref="codcomune" minOccurs="1" />
        <xs:element ref="codcittadinanza" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="daticurriculari">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="datiamministrativi">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="statoinanagrafe" minOccurs="0" />
        <xs:element ref="periodidisoccupazione" minOccurs="0" />
        <xs:element ref="listespeciali_lst" minOccurs="0" />
        <xs:element ref="assolvimentoistruzione" minOccurs="0" />
        <xs:element ref="altrenotizie" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allegato">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titolistudio_lst" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="formazioneprofessionale_lst" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="linguestraniere_lst" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="conoscenzeinformatiche_lst" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="altreinformazioni_lst" minOccurs="0" maxOccurs="unbounded" />
        <!--<xs:element ref="altreinformazioni" minOccurs="0" maxOccurs="unbounded"/>-->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datianagrafici">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="datipersonali" />
        <xs:element ref="datistranieri" minOccurs="0" />
        <xs:element ref="residenza" minOccurs="0" />
        <xs:element ref="domicilio" minOccurs="1" />
        <xs:element ref="recapiti" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datistranieri">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codtipodocumento" minOccurs="0" />
        <xs:element ref="numero" minOccurs="0" />
        <xs:element name="motivo" minOccurs="0" />
        <xs:element ref="validoal" minOccurs="0" />
        <xs:element name="dataultimomantiscr" type="xs:date" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datorelavoro" type="Stringa100Obbl" />
  <xs:element name="domicilio">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codcomune" minOccurs="1" />
        <xs:element ref="cap" minOccurs="1" />
        <xs:element ref="indirizzo" minOccurs="1" />
        <xs:element ref="localita" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--<xs:element name="durata" type="Numerico4"/>-->
  <xs:element name="email" type="Stringa80Obbl" />
  <xs:element name="ente" type="Stringa100" />
  <xs:element name="esperienzalavoro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="azienda" />
        <xs:element ref="utilizzatrice" minOccurs="0" />
        <xs:element ref="datainizio" minOccurs="1" />
        <xs:element ref="datafine" minOccurs="0" />
        <xs:element ref="dataFinePeriodoFormativo" minOccurs="0" />
        <xs:element ref="codprofessione" minOccurs="1" />
        <xs:element ref="compiti" minOccurs="0" />
        <xs:element ref="tiporapporto" minOccurs="1" />
        <xs:element ref="modalitalavoro" minOccurs="1" />
        <xs:element ref="luogolavoro" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="esperienzelavoro_lst">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="esperienzalavoro" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="titolistudio_lst">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="titolostudio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="livelliistruzione_lst">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="codlivelloistruzione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="formazioneprofessionale_lst">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="formazioneprofessionale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="linguestraniere_lst">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="linguastraniera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fax" type="Stringa15Obbl" />
  <xs:element name="cellulare" type="Stringa15Obbl" />
  <xs:element name="titolostudio">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codlivelloistruzione" minOccurs="1" />
        <xs:element ref="corsostudio" minOccurs="0" />
        <xs:element ref="descrizionecorsostudio" minOccurs="0" />
        <xs:element ref="codcomunefrequenza" minOccurs="0" />
        <xs:element ref="riconosciutoin" minOccurs="0" />
        <xs:element ref="votazione" minOccurs="0" />
        <xs:element ref="annotermine" minOccurs="0" />
        <xs:element ref="annofrequentato" minOccurs="0" />
        <xs:element ref="annofrequenza" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="formazioneprofessionale">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titolocorso" minOccurs="0" />
        <xs:element ref="ente" minOccurs="0" />
        <xs:element ref="codregione" minOccurs="0" />
        <xs:element ref="durata" minOccurs="0" />
        <xs:element ref="codtipologiadurata" minOccurs="0" />
        <xs:element ref="certificazioniattestati" minOccurs="0" />
        <xs:element ref="stage" minOccurs="0" />
        <xs:element ref="denominazioneaziendastage" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="linguastraniera">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codlingua" minOccurs="0" />
        <xs:element ref="codlivelloletto" minOccurs="0" />
        <xs:element ref="codlivelloscritto" minOccurs="0" />
        <xs:element ref="codlivelloparlato" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conoscenzeinformatiche">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codconoscenzainformatica" minOccurs="0" />
        <xs:element ref="codgrado" minOccurs="1" />
        <xs:element ref="specificheinformatica" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altreinformazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codalbo" minOccurs="0" />
        <xs:element ref="codpatenteguida" minOccurs="0" />
        <xs:element ref="codpatentino" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--<xs:element name="formazione_lst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titolostudio" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>-->
  <xs:element name="codalbo" type="Stringa4" />
  <xs:element name="codateco" type="Stringa8Obbl" />
  <xs:element name="codcittadinanza" type="Stringa3Obbl" />
  <xs:element name="codcomune" type="Stringa4Obbl" />
  <xs:element name="localita" type="Stringa50" />
  <xs:element name="codconoscenzainformatica" type="Stringa3Obbl" />
  <xs:element name="specificheinformatica" type="Stringa1000" />
  <xs:element name="codgrado" type="Stringa1Obbl" />
  <xs:element name="specifiche" type="Stringa1000" />
  <xs:element name="codlingua" type="Stringa3Obbl" />
  <xs:element name="codlivelloletto" type="Stringa2Obbl" />
  <xs:element name="codlivelloscritto" type="Stringa2Obbl" />
  <xs:element name="codlivelloparlato" type="Stringa2Obbl" />
  <xs:element name="codlivelloistruzione" type="Stringa2Obbl" />
  <xs:element name="codmodalitalavoro" type="Stringa2Obbl" />
  <xs:element name="codpatenteguida" type="Stringa2" />
  <xs:element name="codpatentino" type="Stringa2" />
  <xs:element name="codprofessione" type="Stringa12Obbl" />
  <xs:element name="tipocontratto" type="Stringa7Obbl" />
  <xs:element name="categoriainquadramento" type="Stringa1" />
  <!--<xs:element name="datainiziovalidita" type="xs:date"/>-->
  <xs:element name="codprovincia" type="Stringa3Obbl" />
  <xs:element name="codregione" type="Stringa2" />
  <!--modifiche dellorco-->
  <xs:element name="codstatooccupazionale">
    <xs:simpleType>
      <xs:restriction base="Stringa2Obbl">
        <xs:enumeration value="DI" />
        <xs:enumeration value="IN" />
        <xs:enumeration value="OC" />
        <xs:enumeration value="AL" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="codstatus">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="CO" />
        <xs:enumeration value="SC" />
        <xs:enumeration value="CM" />
        <xs:enumeration value="CE" />
        <xs:enumeration value="DO" />
        <xs:enumeration value="SO" />
        <xs:enumeration value="DS" />
        <xs:enumeration value="CS" />
        <xs:enumeration value="DE" />
        <xs:enumeration value="PE" />
		<xs:enumeration value="" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="categoria297" type="Stringa1Obbl" />
  <xs:element name="anzianita" type="Numerico3Obbl" />
  <xs:element name="disponibilita" type="xs:date" />
  <xs:element name="dataingresso" type="xs:date" />
  <xs:element name="tipoingresso">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="D" />
        <xs:enumeration value="F" />
		<xs:enumeration value="" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="tipolista" type="Numerico1Obbl" />
  <xs:element name="dataiscrizione" type="xs:date" />
  <xs:element name="datafineiscrizione" type="xs:date" />
  <xs:element name="datamaxdeferimento" type="xs:date" />
  <xs:element name="obbligoformativo" type="Stringa2Obbl" />
  <xs:element name="categorieprotette" type="Stringa2" />
  <xs:element name="indiceisee" type="Decimale2Obbl" />
  <xs:element name="codtipodocumento" type="Numerico1Obbl" />
  <xs:element name="codtipologiadurata" type="Stringa1" />
  <xs:element name="indirizzo" type="Stringa100Obbl" />
  <xs:element name="indirizzoazienda" type="Stringa100" />
  <xs:element name="istruzione_lst">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="assolvimentoistruzione" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nome" type="Stringa50Obbl" />
  <xs:element name="numero" type="Stringa15Obbl" />
  <xs:element name="permessodisoggiorno">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="numero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recapiti">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="telefono" minOccurs="0" />
        <xs:element ref="cellulare" minOccurs="0" />
        <xs:element ref="fax" minOccurs="0" />
        <xs:element ref="email" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="residenza">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codcomune" minOccurs="0" />
        <xs:element ref="cap" minOccurs="0" />
        <xs:element ref="indirizzo" minOccurs="0" />
        <xs:element ref="localita" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sesso" type="Stringa1Obbl" />
  <xs:element name="telefono" type="Stringa15Obbl" />
  <xs:element name="titolocorso" type="Stringa100Obbl" />
  <xs:element name="certificazioniattestati" type="Stringa1" />
  <xs:element name="stage" type="Stringa2" />
  <xs:element name="denominazioneaziendastage" type="Stringa100" />
  <xs:element name="ulterioriinformazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codalbo" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="codpatentino" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="codpatenteguida" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validoal" type="xs:date" />
  <xs:element name="listespeciali_lst">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="listespeciali" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listespeciali">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="tipolista" minOccurs="0" />
        <xs:element ref="dataiscrizione" minOccurs="0" />
        <xs:element ref="datafineiscrizione" minOccurs="0" />
        <xs:element ref="datamaxdeferimento" minOccurs="0" />
        <xs:element ref="codprovincia" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assolvimentoistruzione">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="obbligoformativo" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Sezione 4.1.1 -Dati generali esperienza-->
  <xs:element name="azienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codicefiscale" minOccurs="1" />
        <xs:element ref="datorelavoro" minOccurs="1" />
        <xs:element ref="indirizzoazienda" minOccurs="0" />
        <xs:element ref="codateco" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="utilizzatrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codicefiscale" minOccurs="0" />
        <xs:element ref="datorelavoro" minOccurs="0" />
        <xs:element ref="indirizzoazienda" minOccurs="0" />
        <xs:element ref="codateco" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataFinePeriodoFormativo" type="xs:date" />
  <xs:element name="modalitalavoro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="codmodalitalavoro" minOccurs="1" />
        <!--<xs:element ref="datainiziovalidita"/>-->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="luogolavoro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="indirizzo" minOccurs="1" />
        <xs:element ref="codcomune" minOccurs="1" />
        <!--<xs:element ref="datainiziovalidita"/>-->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tiporapporto">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tipocontratto" minOccurs="1" />
        <xs:element ref="categoriainquadramento" minOccurs="0" />
        <xs:element ref="assunzioneLegge68" minOccurs="1" />
        <xs:element name="lavInMobilita" type="Si-No" minOccurs="1" />
        <xs:element name="lavoroStagionale" type="Si-No" minOccurs="1" />
        <xs:element name="lavoroInAgricoltura" type="Si-No" minOccurs="1" />
        <!--<xs:element ref="datainiziovalidita"/>-->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altrenotizie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="categorieprotette" minOccurs="0" />
        <xs:element ref="indiceisee" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--dati invio -->
  <xs:element name="datiinvio">
    <xs:complexType>
      <xs:sequence>
        <!--<xs:element ref="datainvio" minOccurs="1"/>-->
        <xs:element ref="dataultimoagg" minOccurs="1" />
        <xs:element ref="identificativosap" minOccurs="0" />
        <xs:element ref="codiceentetit" minOccurs="1" />
        <xs:element ref="tipovariazione" minOccurs="1" />
        <xs:element ref="datadinascita" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- fine dati invio-->
  <!--SEZIONE 6-->
  <!--<xs:simpleType name="identificativo_sap">
    <xs:restriction base="xs:string" >
      <xs:pattern value="[A-Z]{2}[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>-->
  <xs:simpleType name="tipo_attivita">
    <xs:restriction base="xs:string">
      <xs:length fixed="true" value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="titolo_denominazione">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}[/]\d{2}[/]\d{4}" />
      <xs:length value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data_fine">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <!-- 
 <xs:simpleType name="durata">
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4"></xs:totalDigits>
    </xs:restriction>
  </xs:simpleType>
  -->
  <xs:simpleType name="tipologia_durata">
    <xs:restriction base="xs:string">
      <xs:length value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="descrizione">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="titolo_progetto">
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codice_ente_promotore">
    <xs:restriction base="xs:string">
      <xs:minLength value="11" />
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data_proposta">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}[/]\d{2}[/]\d{4}" />
      <xs:length value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="politiche_attive">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tipo_attivita" minOccurs="1" />
        <xs:element ref="titolo_denominazione" minOccurs="0" />
        <xs:element ref="data_proposta" minOccurs="1" />
        <xs:element ref="data" minOccurs="0" />
        <xs:element ref="data_fine" minOccurs="0" />
        <xs:element ref="durata" minOccurs="0" />
        <xs:element ref="tipologia_durata" minOccurs="0" />
        <xs:element ref="descrizione" minOccurs="1" />
        <xs:element ref="titolo_progetto" minOccurs="1" />
        <xs:element ref="codice_ente_promotore" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--FINE SEZIONE 6-->
  <xs:element name="lavoratore" type="lavoratoreType" />
  <xs:complexType name="lavoratoreType">
    <xs:sequence>
      <xs:element ref="datiinvio" minOccurs="1" />
      <xs:element ref="datianagrafici" minOccurs="0" maxOccurs="1" />
      <xs:element ref="datiamministrativi" minOccurs="0" maxOccurs="1" />
      <xs:element ref="esperienzelavoro_lst" minOccurs="0" maxOccurs="1" />
      <xs:element ref="livelliistruzione_lst" minOccurs="0" maxOccurs="1" />
      <xs:element ref="allegato" minOccurs="0" maxOccurs="1" />
      <xs:element ref="politiche_attive" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>