www.cliclavoro.gov.it/Aziende/Adempimenti/Flusso SAP/Sap.AllegatiDecreto/ModalitЕ Tecniche/sapWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="servizicoap" targetNamespace="http://servizi.lavoro.gov.it/servizicoap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://servizi.lavoro.gov.it/servizicoap" xmlns:impl="http://servizi.lavoro.gov.it/servizicoap" xmlns:types="http://servizi.lavoro.gov.it/servizicoap/types" xmlns:apachesoap="http://xml.apache.org/xml-soap">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://servizi.lavoro.gov.it/servizicoap/types" xmlns:types="http://servizi.lavoro.gov.it/servizicoap/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="richiesta_invioSAP_Type">
				<xsd:sequence>
					<xsd:element name="SAP" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>http://servizi.lavoro.gov.it/servizicoap/types/Sap.xsd</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="invioSAP" type="types:richiesta_invioSAP_Type"/>
			<xsd:complexType name="risposta_invioSAP_Type">
				<xsd:sequence>
					<xsd:element name="Esito">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK"/>
								<xsd:enumeration value="KO"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MessaggioErrore" type="xsd:string"/>
					<xsd:element name="CodiceSAP" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="risposta_invioSAP" type="types:risposta_invioSAP_Type"/>
      
      <xsd:complexType name="richiesta_richiestaSAP_Type">
				<xsd:sequence>
					<xsd:element name="CodiceSAP" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>http://servizi.lavoro.gov.it/servizicoap/types/Sap.xsd</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="richiestaSAP" type="types:richiesta_richiestaSAP_Type"/>
      <xsd:complexType name="risposta_richiestaSAP_Type">
        <xsd:sequence>
          <xsd:element name="SAP" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="risposta_richiestaSAP" type="types:risposta_richiestaSAP_Type"/>

      <xsd:complexType name="richiesta_recuperaListaSAPNonAttive_Type">
        <xsd:sequence>		
          <xsd:element name="Parametri" type="xsd:string">
		    <xsd:annotation>
              <xsd:appinfo>http://servizi.lavoro.gov.it/servizicoap/types/Sap.xsd</xsd:appinfo>
            </xsd:annotation>
		  </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="recuperaListaSAPNonAttive" type="types:richiesta_recuperaListaSAPNonAttive_Type"/>
      <xsd:complexType name="risposta_recuperaListaSAPNonAttive_Type">
        <xsd:sequence>
          <xsd:element name="SAPs" type="types:stringList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="stringList">
        <xsd:list itemType="xsd:string"/>
      </xsd:simpleType>
      <xsd:element name="risposta_recuperaListaSAPNonAttive" type="types:risposta_recuperaListaSAPNonAttive_Type"/>

      <xsd:complexType name="richiesta_verificaEsistenzaSAP_Type">
        <xsd:sequence>
          <xsd:element name="CodiceFiscale" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>http://servizi.lavoro.gov.it/servizicoap/types/Sap.xsd</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="verificaEsistenzaSAP" type="types:richiesta_verificaEsistenzaSAP_Type"/>
      <xsd:complexType name="risposta_verificaEsistenzaSAP_Type">
        <xsd:sequence>
          <xsd:element name="CodiceSAP" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="risposta_verificaEsistenzaSAP" type="types:risposta_verificaEsistenzaSAP_Type"/>
	  
	  <xsd:complexType name="richiesta_richiestaCodSAPRegTitolare_Type">
        <xsd:sequence>
          <xsd:element name="CodiceFiscale" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>http://servizi.lavoro.gov.it/servizicoap/types/Sap.xsd</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="richiestaCodSAPRegTitolare" type="types:richiesta_richiestaCodSAPRegTitolare_Type"/>
      <xsd:complexType name="risposta_richiestaCodSAPRegTitolare_Type">
        <xsd:sequence>
          <xsd:element name="CodiceSAP" type="xsd:string"/>
		  <xsd:element name="CodiceRegione" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="risposta_richiestaCodSAPRegTitolare" type="types:risposta_richiestaCodSAPRegTitolare_Type"/>
	  
      <xsd:complexType name="richiesta_annullaSAP_Type">
        <xsd:sequence>
          <xsd:element name="CodiceSAP" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>http://servizi.lavoro.gov.it/servizicoap/types/Sap.xsd</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="annullaSAP" type="types:richiesta_annullaSAP_Type"/>
	  <xsd:complexType name="risposta_annullaSAP_Type">
			<xsd:sequence>
				<xsd:element name="Esito">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="OK"/>
							<xsd:enumeration value="KO"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="MessaggioErrore" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:element name="risposta_annullaSAP" type="types:risposta_annullaSAP_Type"/>
	  
      <xsd:complexType name="richiesta_notificaSAP_Type">
        <xsd:sequence>
          <xsd:element name="CodiceSAP" type="xsd:string"></xsd:element>
          <xsd:element name="MotivoNotifica" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="notificaSAP" type="types:richiesta_notificaSAP_Type"/>
	  <xsd:complexType name="risposta_notificaSAP_Type">
				<xsd:sequence>
					<xsd:element name="Esito">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK"/>
								<xsd:enumeration value="KO"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MessaggioErrore" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="risposta_notificaSAP" type="types:risposta_notificaSAP_Type"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="risposta_invioSAP_Msg">
    <wsdl:part name="parameters" element="types:risposta_invioSAP"/>
  </wsdl:message>
  <wsdl:message name="richiesta_invioSAP_Msg">
    <wsdl:part name="parameters" element="types:invioSAP"/>
  </wsdl:message>
  <wsdl:message name="risposta_richiestaSAP_Msg">
    <wsdl:part name="parameters" element="types:risposta_richiestaSAP"/>
  </wsdl:message>
  <wsdl:message name="richiesta_richiestaSAP_Msg">
    <wsdl:part name="parameters" element="types:richiestaSAP"/>
  </wsdl:message>
  <wsdl:message name="risposta_recuperaListaSAPNonAttive_Msg">
    <wsdl:part name="parameters" element="types:risposta_recuperaListaSAPNonAttive"/>
  </wsdl:message>
  <wsdl:message name="richiesta_recuperaListaSAPNonAttive_Msg">
    <wsdl:part name="parameters" element="types:recuperaListaSAPNonAttive"/>
  </wsdl:message>
  <wsdl:message name="risposta_verificaEsistenzaSAP_Msg">
    <wsdl:part name="parameters" element="types:risposta_verificaEsistenzaSAP"/>
  </wsdl:message>
  <wsdl:message name="richiesta_verificaEsistenzaSAP_Msg">
    <wsdl:part name="parameters" element="types:verificaEsistenzaSAP"/>
  </wsdl:message>
   <wsdl:message name="risposta_richiestaCodSAPRegTitolare_Msg">
    <wsdl:part name="parameters" element="types:risposta_richiestaCodSAPRegTitolare"/>
  </wsdl:message>
  <wsdl:message name="richiesta_richiestaCodSAPRegTitolare_Msg">
    <wsdl:part name="parameters" element="types:richiestaCodSAPRegTitolare"/>
  </wsdl:message>
   <wsdl:message name="richiesta_annullaSAP_Msg">
    <wsdl:part name="parameters" element="types:annullaSAP"/>
  </wsdl:message>
  <wsdl:message name="risposta_annullaSAP_Msg">
    <wsdl:part name="parameters" element="types:risposta_annullaSAP"/>
  </wsdl:message>
  <wsdl:message name="richiesta_notificaSAP_Msg">
    <wsdl:part name="parameters" element="types:notificaSAP"/>
  </wsdl:message>
   <wsdl:message name="risposta_notificaSAP_Msg">
    <wsdl:part name="parameters" element="types:risposta_notificaSAP"/>
  </wsdl:message>
  
  <wsdl:portType name="servizicoapWS">
    <wsdl:operation name="invioSAP">
      <wsdl:input message="intf:richiesta_invioSAP_Msg"/>
      <wsdl:output message="intf:risposta_invioSAP_Msg"/>
    </wsdl:operation>
    <wsdl:operation name="richiestaSAP">
      <wsdl:input message="intf:richiesta_richiestaSAP_Msg"/>
      <wsdl:output message="intf:risposta_richiestaSAP_Msg"/>
    </wsdl:operation>
    <wsdl:operation name="recuperaListaSAPNonAttive">
      <wsdl:input message="intf:richiesta_recuperaListaSAPNonAttive_Msg"/>
      <wsdl:output message="intf:risposta_recuperaListaSAPNonAttive_Msg"/>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaSAP">
      <wsdl:input message="intf:richiesta_verificaEsistenzaSAP_Msg"/>
      <wsdl:output message="intf:risposta_verificaEsistenzaSAP_Msg"/>
    </wsdl:operation>
	<wsdl:operation name="richiestaCodSAPRegTitolare">
      <wsdl:input message="intf:richiesta_richiestaCodSAPRegTitolare_Msg"/>
      <wsdl:output message="intf:risposta_richiestaCodSAPRegTitolare_Msg"/>
    </wsdl:operation>
    <wsdl:operation name="annullaSAP">
      <wsdl:input message="intf:richiesta_annullaSAP_Msg"/>
	  <wsdl:output message="intf:risposta_annullaSAP_Msg"/>
    </wsdl:operation>
    <wsdl:operation name="notificaSAP">
      <wsdl:input message="intf:richiesta_notificaSAP_Msg"/>
	  <wsdl:output message="intf:risposta_notificaSAP_Msg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servizicoapWSSoapBinding" type="intf:servizicoapWS">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invioSAP">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="richiestaSAP">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperaListaSAPNonAttive">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaSAP">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="richiestaCodSAPRegTitolare">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annullaSAP">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
	  <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notificaSAP">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
	  <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	
  </wsdl:binding>
  <wsdl:service name="servizicoapWSService">
    <wsdl:port name="servizicoapWS" binding="intf:servizicoapWSSoapBinding">
      <wsdlsoap:address location=""/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
